<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761707568090-rpsm5oedo3heag7q82r40u3mr4ns3cof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761707568090-rpsm5oedo3heag7q82r40u3mr4ns3cof</string>
	<key>API_KEY</key>
	<string>AIzaSyAZLvhcG8cgo7HMq1eUwJgnUKiFqVF8nEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>761707568090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviesnearby</string>
	<key>PROJECT_ID</key>
	<string>moviesnearby</string>
	<key>STORAGE_BUCKET</key>
	<string>moviesnearby.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761707568090:ios:a0bd8021fad123de7e7ee3</string>
</dict>
</plist>